@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background: #8aa9fd;
    font-family: Poppins;
}

.title {
    color: black;
}

.container {
    width: 500px;
    height: 500px;
    border: 1px solid black;

    position: relative;
    background: none;
    display: block;
    margin: auto;
    margin-top: 5%;
}

.sun {
    background: yellow;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    top: 50%;
    left: 30%;
    position: absolute;

    box-shadow: 0px 0px 50px 50px orange;
}

.bird {
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: polygon(6% 8%, 19% 7%, 13% 9%, 12% 14%, 11% 9%);


}

.bird2 {
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    clip-path: polygon(12% 7%, 30% 6%, 22% 8%, 20% 13%, 20% 8%);

}
.land1 {
    background: green;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-clip-path: polygon(68% 70%, 88% 67%, 100% 77%, 100% 100%, 0 100%, 0 80%, 14% 68%, 34% 71%, 49% 89%);
clip-path: polygon(68% 70%, 88% 67%, 100% 77%, 100% 100%, 0 100%, 0 80%, 14% 68%, 34% 71%, 49% 89%);
}

.land2 {
    background-color: rgb(23, 165, 23);
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(51% 99%, 66% 78%, 87% 74%, 100% 100%, 0 100%, 3% 83%, 15% 73%, 36% 77%, 45% 99%);
clip-path: polygon(51% 99%, 66% 78%, 87% 74%, 100% 100%, 0 100%, 3% 83%, 15% 73%, 36% 77%, 45% 99%);
}

.pathland {
    background-color: orange;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(46% 83%, 55% 83%, 68% 100%, 30% 100%);
}